<% provide(:title,'Home') %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3> Micropost Feed </h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<%else %>

<div class="center hero-unit"><h1>Home</h1>
	<h2>This is a homepage made by thlias useful in testing projects.<br />

		To access the advanced features of this website, you must be a
		privileged user.  <br /> To become one, fill in this <a href=<%= 					url_for(new_user_path) %>> form</a> 
	</h2>
</div>
<%= link_to image_tag("rails.png", :alt=>"Rails"), 'http://rubyonrails.org/' %>
<%end %>