<header>
	<%= image_tag("myWebpage.png", :alt=>"MyWebpage", :class=>"round") %>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "Home", "/pages/home" %>
			</li>
			<li>
				<%= link_to "Profile", "/pages/profile" %>
			</li>
			<li>
				<%= link_to "Cyprus-Uni", "/pages/cyprus_uni" %>
			</li>
			<li>
				<%= link_to "One-DB project", "/pages/one_db_project" %>
			</li>
			<li>
				<%= link_to "Photo-Gallery", "/pages/photo_gallery" %>
			</li>
			<li>
				<%= link_to "Notepad", "/pages/notepad" %>
			</li>
		</ul>
	</nav>
	
</header>