<!DOCTYPE html>

<html>
<head>
	<title> Combining Project page | <%=  yield(:title) %> </title>
	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>

</head>	

<body>

	<%= render 'layouts/header' %>
	<div class="container">
		<!-- flash is a special variable in rails  -->
		<!-- flash lasts only until there is a second redirection -->
		<% flash.each do |key,value| %>
		<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
		<!-- Alternative prettier way for the above code -->
		<%= content_tag(:div, value, :class=>"alert alert-#{key}") %>
		<%end %>
		<%= yield%>

		<%= render 'layouts/footer' %>
		
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>

</html>



